<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>InkLink</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/inklink.css">
	
	<script src="/js/jquery.js" type="text/javascript"></script>
	<script src="/js/main.js" type="text/javascript"></script>
	<script src="/js/validation.js" type="text/javascript"></script>
	<script src="/js/all.js" type="text/javascript"></script>
	<script src="/js/home.js" type="text/javascript"></script>
	<script src="/js/search.js" type="text/javascript"></script>
	
	<style>
		body{
			background-color: #ddd;
		}
	</style>
</head>
<body>
	
	<nav class="navbar navbar-expand-lg bg-light" aria-label="InkLink Navbar" id="main-nav">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#inkLinkNavBar" aria-controls="inkLinkNavBar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse d-lg-flex" id="inkLinkNavBar">
				
				<a href="home" class="navbar-brand col-lg-3 me-0 active">InkLink</a>
				
				<ul class="navbar-nav col-lg-6 justify-content-lg-center">
					<li class="nav-item">
						<a href="viewAllBooks" class="nav-link">Books</a>
					</li>
					<li class="nav-item">
						<a href="viewAllAuthors" class="nav-link">Authors</a>
					</li>
					<li class="nav-item">
						<a href="viewAllCategories" class="nav-link">Categories</a>
					</li>
				</ul>
				<div class="d-lg-flex col-lg-3 justify-content-lg-end">

					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="#" class="nav-link">
								<img src="/images/cart1_1.png" height="30" width="30" id="nvCart" style="display: none;" onclick="location.href='/cart'">
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link" id="nvUsername" style="display: none;">User name</a>
						</li>
						
						<li class="nav-item">
							<button type="button" class="btn btn-primary" id="nvBtnLogIn" onclick="login()" style="display: none;">Log In</button>
						</li>
						
						<li class="nav-item">
							<button type="button" class="btn btn-primary" id="nvBtnLogOut" onclick="logout()" style="display: none;">Log Out</button>
						</li>
					</ul>	
					
				</div>
			</div>
		</div>
	</nav>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 offset-1 ik-container">
				<div class="row">
					<h3 class="col-lg-8 offset-lg-2 welcome-header"><em>Welcome to InkLink, you one-stop shop for ebooks. Enjoy our vast library.</em></h3>
					<br>
				</div>
				
				<div class="row" id="searchTextDiv">
					<input class="form-control form-control-lg" type="search" id="seSearch" placeholder="Search" style="text-align: center;">
				</div>
				
				<div class="row" id="contentDiv">
					
				</div>
				
				<div class="row" id="searchDiv" style="display: none;">
					<div class="col-lg-10">
						<h3>Search results: </h3>
					</div>
					<div class="col-lg-2">
						<button type="button" class="btn btn-primary" onclick="resetSearch()" id="seCloseBtn" style="float: right;">Close Search</button>
					</div>
					
					<div class="col-lg-12" id="searchResultsDiv">
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="toast-container position-fixed bottom-0 end-0" id="toastContainer" style="z-index: 10; margin: 10px;"></div>
	
	<footer class="py-3 border-top">
		<p class="text-center text-muted">InkLink &copy; 2023</p>
	</footer>
	
	<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>